* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

.container {
    width: 80%;
    background-color: rgb(222, 166, 126);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: calc((100% / 3) - 20px);
}

p {
    color: white;
    font-size: 25px;
    padding-top: 10px;
}


